{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-property-sort-order-smacss"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "scss/double-slash-comment-empty-line-before": null,
    "selector-class-pattern": null
  }
}
