.chain-icon {
  overflow: hidden;
  border-radius: 50%;
}

.select-trigger {
  display: flex;
  align-items: center;
  gap: 6px;

  &:focus {
    outline: none;
  }
}

.select-item-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.select-content {
  overflow: hidden;
  border-radius: 8px;
}

.select-viewport {
  padding: 6px;
}

.select-item {
  display: flex;
  position: relative;
  margin: 4px;
  padding: 4px;
  transition: background-color 0.1s;
  border-radius: 4px;
  cursor: pointer;

  &[data-highlighted] {
    outline: none;
    background-color: grey;
    color: white;
  }
}

.select-item-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}
