@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.chain-icon {
  overflow: hidden;
  border-radius: 50%;
}

.select-trigger {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  transition: width 0.5s;
  gap: 6px;

  &:focus {
    outline: none;
  }
}

.select-item-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.select-content {
  overflow: hidden;
  border-radius: 8px;

  &[data-state='open'] {
    animation: fade-in 200ms ease-out;
  }

  &[data-state='closed'] {
    animation: fade-out 200ms ease-out;
  }
}

.select-viewport {
  // Override grey-border-box styling
  padding: 6px !important;
}

.select-item {
  display: flex;
  position: relative;
  margin: 4px;
  padding: 4px;
  transition: background-color 0.1s;
  border-radius: 6px;
  cursor: pointer;

  &[data-highlighted] {
    outline: none;
    background-color: #484848;
    color: white;
  }
}

.select-item-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}
