.main {
  display: flex;
  position: relative;
  height: 80vh;
  gap: 48px;

  .green-glow {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(
      rgb(0 211 176),
      rgb(255 255 255 / 0%)
    );
    inset: 400px auto auto -250px;
    filter: blur(48px);
  }

  .red-glow {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(
      rgb(242 129 100),
      rgb(255 255 255 / 0%)
    );
    inset: -50px -100px auto auto;
    filter: blur(48px);
  }
}
