.main {
  display: flex;
  position: relative;
  gap: 48px;
  margin-top: 64px;

  .green-glow {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(
      rgb(0 211 176 / 80%),
      rgb(255 255 255 / 0%)
    );
    inset: 350px auto auto -250px;
    filter: blur(48px);
  }

  .red-glow {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(
      rgb(242 129 100 / 80%),
      rgb(255 255 255 / 0%)
    );
    inset: -50px -100px auto auto;
    filter: blur(48px);
  }
}
