.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: var(--background-color);
  color: var(--text-color);

  .logo {
    display: flex;
    align-items: center;
    gap: 16px;

    .text {
      width: 150px;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
    }
  }
}
